BASE_URL=https://your-vercel-deployment.vercel.app

TEST_BUYER_EMAIL=buyer@example.com
TEST_BUYER_PASSWORD=yourpassword

TEST_SELLER_EMAIL=seller@example.com
TEST_SELLER_PASSWORD=yourpassword

TEST_ADMIN_EMAIL=admin@example.com
TEST_ADMIN_PASSWORD=yourpassword
